<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <%- include('../partial/head'); -%>
    <body>
        <h1><%= title %></h1>
        <%- include(_content); -%>
        <%- include('../partial/script'); -%>
    </body>
</html>